.container {
    width: 100%;
    height: 100%;
    max-width: 1200px; /* 最大幅の制限 */
    max-height: 800px; /* 最大高さの制限 */
    aspect-ratio: 16 / 9; /* 縦横比を指定 */
    overflow: hidden; /* 極端な内容を隠す */
    background-color: lightblue; /* デモ用背景色 */
}
/* 横長の画面の場合 */
@media screen and (min-aspect-ratio: 4/3) {
  body {
    margin: 0;
    display: flex;
    height: 100vh;
  }
  #leftPanel {
    width: 450px;
    background-color: rgb(24, 27, 43);
  }
  #mapContainer {
    flex: 1;
    position: relative;
  }
  #map {
    height: 100%;
    width: 100%;
  }

  /* 左上の黒い四角 */
  #timeBox {
    position: absolute;
    top: 10px;
    left: 550px;
    background-color: rgb(7, 7, 34);
    color: white;
    padding: 10px;
    font-size: 28px;
    border-radius: 10px; /* 角を丸くする */
    z-index: 1000; /* 地図より上に表示 */
    letter-spacing: 1px; /* 2px間隔を広げる */
  }

  .IntLegend {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: 30px;
    right: 30px;
    width: 150px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    opacity: 0;
  }

  .hight-hidden {
    display: initial;
    width: inherit; /* 親要素の幅を継承 */
  }
  .weigh-hidden {
    display: none;
  }
  .typepanelback {
    position: absolute; /* 要素を自由に配置するための設定 */
    top: 0%;
    left: 450px;
    width: 61px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
  }
  .typepanelnow {
    position: absolute; /* 要素を自由に配置するための設定 */
    top: 30px;
    left: 480px;
    width: 50px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -55%); /* 画像の中心を基準点に */
  }
  .typepanelquake {
    position: absolute; /* 要素を自由に配置するための設定 */
    top: 30px;
    left: 480px;
    width: 50px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepanelrealtime {
    position: absolute; /* 要素を自由に配置するための設定 */
    top: 80px;
    left: 480px;
    width: 50px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepaneltsunami {
    position: absolute; /* 要素を自由に配置するための設定 */
    top: 130px;
    left: 480px;
    width: 50px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepanelsetting {
    position: absolute; /* 要素を自由に配置するための設定 */
    top: 180px;
    left: 480px;
    width: 50px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typeiconbright {
    filter: brightness(0.5); /* 明度1は通常状態 */
    transition: filter 0.1s ease; /* フィルターの変更をスムーズに */
  }
  .typeiconbright:hover {
    filter: brightness(1); /* 明度を高める */
  }
  .scroll-panel {
    overflow-y: auto; /* スクロール可能に設定 */
    max-height: 97%; /* パネルの高さを制限 */
    left: 15px;
    top: 10px;
    width: 420px;
    position: absolute;
    z-index: 10;
  }
  .scroll-panel-scrollable {
    overflow-y: scroll; /* 縦スクロールは維持 */
    scrollbar-width: none; /* Firefoxでスクロールバーを非表示 */
    -ms-overflow-style: none; /* IEでスクロールバーを非表示 */
  }
  .scroll-panel-scrollable::-webkit-scrollbar {
      display: none; /* ChromeやSafariでスクロールバーを非表示 */
  }
}

/* 縦長の画面の場合 */
@media screen and (max-aspect-ratio: 4/3) {
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw; /* ビューポート幅を占める */
  }
  #leftPanel {
    height: 300px;
    width: 100%;
    background-color: rgb(25, 26, 34);
    margin-top: auto;
    order: 2; /* leftPanelを下に表示 */
  }
  #mapContainer {
    flex: 1; /* 残りの領域を埋める */
    width: 100%;
    position: relative;
    order: 1; /* mapContainerを上に表示 */
  }
  #map {
    height: 100%;
    width: 100%;
  }

  /* 左上の黒い四角 */
  #timeBox {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(7, 7, 34);
    color: white;
    padding: 10px;
    font-size: 28px;
    border-radius: 10px; /* 角を丸くする */
    z-index: 1000; /* 地図より上に表示 */
    letter-spacing: 1px; /* 2px間隔を広げる */
  }
  .hight-hidden {
    display: none;
  }
  .weigh-hidden {
    display: initial;
    width: inherit; /* 親要素の幅を継承 */
  }
  .typepanelback {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: 0px;
    background-color: rgb(47, 49, 59);
    width: 100%; /* 画像の幅 */
    height: 80px; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    box-sizing: border-box;
  }
  .typepanelnow {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: -33px;
    left: 17%;
    width: 75px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepanelquake {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: -20px;
    left: 17%;
    width: 100px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepanelrealtime {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: -20px;
    left: 39%;
    width: 100px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepaneltsunami {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: -20px;
    left: 61%;
    width: 100px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typepanelsetting {
    position: absolute; /* 要素を自由に配置するための設定 */
    bottom: -20px;
    left: 83%;
    width: 100px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
    transform: translate(-50%, -50%); /* 画像の中心を基準点に */
  }
  .typeiconbright {
    filter: brightness(0.5); /* 明度1は通常状態 */
    transition: filter 0.1s ease; /* フィルターの変更をスムーズに */
  }
  .typeiconbright:hover {
    filter: brightness(1); /* 明度を高める */
  }
}